pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

@keyframes highlight {
    0% {
        background: #ff6730;
    }
    100% {
        background: none;
    }
}

.highlight {
    animation: highlight 1.3s;
    animation-iteration-count: infinite;
}

.blink {
    animation: blinker 1s ease-in-out infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
