# EDVS Dashboard parameter settings

# HOW TO USE THIS FILE
#
# env.example contains example values for Dashboard settings. You MUST either
# rename this file to '.env' or make a duplicate of this file and name it '.env'
# for it to be used as a configuration file. If you do not, it WILL NOT be
# automatically read by the Dashboard.

# This environment variable makes sure Node.js is running in production mode
# instead of development mode, which is known to significantly improve Express
# app performance.
NODE_ENV=production

# DO YOUR EDITS BELOW THIS POINT

# Edit this variable to set the location for your Node.js server.
DASHBOARD_URL=https://localhost

# Edit this variable to set the port for HTTP server.
DASHBOARD_HTTP_PORT=80

# Edit this variable to set the port for HTTPS server.
DASHBOARD_HTTPS_PORT=443

# Edit this variable to set the path to TLS/SSL server private key.
DASHBOARD_TLS_PRIVATE_KEY=security/keys/ssl-key.pem

# Edit this variable to set the path to TLS/SSL server certificate.
DASHBOARD_TLS_CERTIFICATE=security/certs/ssl-cert.pem

# Edit this variable to set the location for your MongoDB server.
DASHBOARD_DATABASE_URL=mongodb://localhost:27017/dashboard


DASHBOARD_ADMIN_TOKEN=DEFAULT@Admin123ToKen0qekksd2

# This is the secret used to sign the session ID cookie. This can be either a
# string for a single secret, or an array of multiple secrets. If an array of
# secrets is provided, only the first element will be used to sign the session
# ID cookie, while all the elements will be considered when verifying the
# signature in requests.
DASHBOARD_SESSION_SECRET=eGQ4QsRsLh2UwH9m

# Specifies the time, in milliseconds, for each session before they expire.
DASHBOARD_SESSION_COOKIE_MAXAGE=3600000




# compatibility
SERVER_URL=https://localhost
MONGODB_URI=mongodb://localhost:27017/dashboard
ADMIN_TOKEN=DEFAULT@Admin123ToKen0qekksd2
SESSION_SECRET=eGQ4QsRsLh2UwH9m
